<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Final Project</title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <h1 class="center">Items</h1>
        <ul class="list-group">
            <li th:each="storeItem : ${storeItemsList}" class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        <img th:src="${imageURLBuilder.forDeviceInfo(deviceInfo).with(storeItem.image).build()}" class="img-fluid">
                    </div>
                    <div class="col-8 border rounded">
                        <h1 th:text="${storeItem.name}"> </h1>
                        <p th:text="${storeItem.shortDescription}"></p>
                    </div>
                </div>

            </li>
        </ul>
    </div>

</body>

</html>