@font-face {
  font-family: "playlist";
  src: url("../fonts/playlistscript.woff") format("woff");
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  position: relative;
  font-size: 1.1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
}
footer {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}
.single-form {
  min-width: 33%;
  min-height: 33vh;
  padding: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
}
.nav-right {
  margin-right: 0px;
  margin-left: auto;
}
.form-control[type="password"],
.form-control[type="text"]:not([placeholder="0.00"]),
.form-control[type="email"] {
  transition: transform 0.25s, border-color 0.25s ease-in-out;
  border-radius: 5px;
  background-color: transparent;
  z-index: 1;
  position: relative;
}
.form-control[type="password"] + .floating-label,
.form-control[type="text"]:not([placeholder="0.00"]) + .floating-label,
.form-control[type="email"] + .floating-label {
  position: absolute;
  top: 0.35em;
  left: 0.75em;
  display: inline-block;
  width: auto;
  margin: 0;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transform: translate(0, 0) scale(1);
  user-select: none;
}
.form-control[type="password"]:focus + .floating-label,
.form-control[type="text"]:not([placeholder="0.00"]):focus + .floating-label,
.form-control[type="email"]:focus + .floating-label,
.form-control[type="password"]:not(:placeholder-shown) + .floating-label,
.form-control[type="text"]:not([placeholder="0.00"]):not(:placeholder-shown) + .floating-label,
.form-control[type="email"]:not(:placeholder-shown) + .floating-label {
  z-index: 100;
  transition: transform 0.25s ease-in-out;
  transform: translate(0, -1.25em) scale(0.9);
  background-color: inherit;
}
.form-control[type="password"]::placeholder,
.form-control[type="text"]:not([placeholder="0.00"])::placeholder,
.form-control[type="email"]::placeholder {
  color: transparent;
}
.form-control[type="text"][placeholder="0.00"] + .floating-label {
  left: 2.5em;
}
.form-control[type="text"][placeholder="0.00"] + .floating-label,
.form-control[type="date"] + .floating-label,
.form-control[type="number"] + .floating-label {
  position: absolute;
  top: 0.35em;
  display: inline-block;
  width: auto;
  margin: 0;
  user-select: none;
  z-index: 100;
  transform: translate(0, -1.25em) scale(0.9);
  background-color: inherit;
}
.form-control[type="date"] + .floating-label,
.form-control[type="number"] + .floating-label {
  left: 0.75em;
}
.form-group,
.input-group,
.form-check {
  position: relative;
  background-color: white;
  margin-bottom: 1rem;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  text-align: center;
  margin: 0 auto;
}
ul.no-style {
  list-style-type: none;
}
.fas.fa-check {
  color: green;
}
.fas.fa-ban,
.fas.fa-times {
  color: red;
}
.google-button {
  background: url(/google/google_signin_buttons/web/2x/btn_google_signin_light_normal_web@2x.png) no-repeat;
  background-size: cover;
}
.google-button,
.google-button:active,
.google-button:hover {
  color: transparent;
  background-position: center center;
  background-size: cover;
  height: 45px;
}
.google-button:hover {
  background: url(/google/google_signin_buttons/web/2x/btn_google_signin_light_focus_web@2x.png) no-repeat;
  background-size: cover;
}
.google-button:active {
  background: url(/google/google_signin_buttons/web/2x/btn_google_signin_light_pressed_web@2x.png) no-repeat;
  background-size: cover;
}
section {
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-check-input {
  position: initial;
  margin: 0;
}
.form-check-input,
.form-check-input .form-check-label {
  vertical-align: middle;
}
.modal-xxl {
  width: 90%;
  max-width: 90%;
}
@media (max-width: 576px) {
  .margin-lr-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .single-form {
    width: 90%;
  }
  .centered-text {
    position: initial;
    transform: unset;
  }
}
div.item div.image {
  transform: scale(0.8, 0.8);
  transition: all 0.35s;
}
div.item-selected div.image {
  transition: all 0.35s;
}
.background-big-text {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(5px); */
}
.big-text {
  font-size: 1.5em;
}
.dropdown > button.dropdown-toggle.hamburger {
  line-height: 24px;
}
.dropdown > button.dropdown-toggle.hamburger::after {
  content: none;
}
.hamburger-inner {
  margin-top: 0px !important;
}
