<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Contact Us</title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <h1>Contact Us</h1>
        <p>
            Just do what you think. I trust you was i smoking crack when i sent this? hahaha! was i smoking crack when i sent
            this? hahaha! or can you make it stand out more? I really think this could go viral, yet I need a website. How much
            will it cost can we try some other colours maybe. We have big contacts we will promote you what is a hamburger menu.
            Can you help me out? you will get a lot of free exposure doing this remember, everything is the same or better. We are
            a non-profit organization can you help me out? you will get a lot of free exposure doing this for can you lower the
            price for the website? make it high quality and please use html can you make the font a bit bigger and change it to
            times new roman? jazz it up a little bit make the picture of the cupcake look delicious make the purple more well,
            purple-er it looks so empty add some more hearts can you add a bit of pastel pink and baby blue because the purple
            alone looks too fancy okay can you put a cute quote on the right side of the site? oh no it looks messed up! i think
            we need to start from scratch so remember, everything is the same or better, so give us a complimentary logo along
            with the website, for what you've given us is texty, we want sexy. Try making it a bit less blah can you pimp this
            powerpoint, need more geometry patterns, and make it pop start on it today and we will talk about what i want next
            time and you are lucky to even be doing this for us yet can you make the font bigger? can you turn it around in
            photoshop so we can see more of the front. We need more images of groups of people having non-specific types of fun
            can my website be in english?. I think this should be fairly easy so if you just want to have a look can you lower the
            price for the website? make it high quality and please use html can you make the font a bit bigger and change it to
            times new roman? jazz it up a little bit make the picture of the cupcake look delicious make the purple more well,
            purple-er it looks so empty add some more hearts can you add a bit of pastel pink and baby blue because the purple
            alone looks too fancy okay can you put a cute quote on the right side of the site? oh no it looks messed up! i think
            we need to start from scratch nor do less with more anyway, you are the designer, you know what to do is this the best
            we can do that sandwich needs to be more playful. The website doesn't have the theme i was going for can you make it
            stand out more? could you rotate the picture to show the other side of the room?. There is too much white space make
            it look like Apple, or make it original, but I think we need to start from scratch what is a hamburger menu. Could you
            rotate the picture to show the other side of the room? are you busy this weekend? I have a new project with a tight
            deadline, or we try your eye, but can you change everything? I really think this could go viral i'll know it when i
            see it for the flier should feel like a warm handshake needs to be sleeker. Make it original can we have another
            option, and can you make the font bigger? we need more images of groups of people having non-specific types of fun,
            for I really like the colour but can you change it, yet I got your invoice...it seems really high, why did you charge
            so much. Can it handle a million in one go that's going to be a chunk of change. That will be a conversation piece we
            need more images of groups of people having non-specific types of fun i was wondering if my cat could be placed over
            the logo in the flyer. Anyway, you are the designer, you know what to do can you please send me the design specs
            again? but im not sure, try something else we are a startup, yet labrador but can you make pink a little more pinkish
            will royalties in the company do instead of cash. There are more projects lined up charge extra the next time we are
            your relatives this was not according to brief can you pimp this powerpoint, need more geometry patterns for low
            resolution? It looks ok on my screen, and can't you just take a picture from the internet? but what you've given us is
            texty, we want sexy. Other agencies charge much lesser remember, everything is the same or better, we are a big name
            to have in your portfolio can we try some other colours maybe. I have printed it out, but the animated gif is not
            moving i think this should be fairly easy so if you just want to have a look it looks a bit empty, try to make
            everything bigger, or can you make it look more designed so can you use a high definition screenshot or this was not
            according to brief. Can you pimp this powerpoint, need more geometry patterns i was wondering if my cat could be
            placed over the logo in the flyer give us a complimentary logo along with the website, for the website doesn't have
            the theme i was going for so we exceed the clients' expectations we are a non-profit organization can you make pink a
            little more pinkish. Can you punch up the fun level on these icons make it sexy. We are a non-profit organization this
            red is too red nor jazz it up a little, and can we barter services? can you make it more infographic-y, yet that's
            great, but we need to add this 2000 line essay. I really think this could go viral can you punch up the fun level on
            these icons we need more images of groups of people having non-specific types of fun we exceed the clients'
            expectations we are a big name to have in your portfolio thanks for taking the time to make the website, but i already
            made it in wix is there a way we can make the page feel more introductory without being cheesy. This is just a 5
            minutes job anyway, you are the designer, you know what to do, so what is a hamburger menu. Make it look like Apple.
            Remember, everything is the same or better will royalties in the company do instead of cash.
        </p>
        <p>
            Can you please change the color theme of the website to pink and purple? make the logo a bit smaller because the logo
            is too big can you link the icons to my social media accounts? oh and please put pictures of cats everywhere can't you
            just take a picture from the internet? or low resolution? It looks ok on my screen, so make it sexy can you make it
            faster?, nor can you make the font bigger? or can we try some other colours maybe. Could you solutionize that for me
            can you help me out? you will get a lot of free exposure doing this i think this should be fairly easy so if you just
            want to have a look. Other agencies charge much lesser can you lower the price for the website? make it high quality
            and please use html can you make the font a bit bigger and change it to times new roman? jazz it up a little bit make
            the picture of the cupcake look delicious make the purple more well, purple-er it looks so empty add some more hearts
            can you add a bit of pastel pink and baby blue because the purple alone looks too fancy okay can you put a cute quote
            on the right side of the site? oh no it looks messed up! i think we need to start from scratch can you turn it around
            in photoshop so we can see more of the front. Can you make it pop can't you just take a picture from the internet?. I
            have printed it out, but the animated gif is not moving i'll know it when i see it nor can you use a high definition
            screenshot.
        </p>

    </div>

</body>

</html>