<!DOCTYPE HTML>
<html lang="en_us" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>createUser</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url("/Files/login_background.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div layout:fragment="content" class="container-fluid" style="height: 90vh; position: relative;">
        <form th:action="@{/login/createUser}" th:object="${createUserForm}" method="post">
            <div th:replace="~{fragments/errorInForm.html :: errorInForm}"></div>
            <section class="centered-text single-form rounded" style="background-color: white;">
                <div sec:authorize="isAnonymous()" class="row" style="margin-bottom: 10px">
                    <h1 class="center"> Sign Up</h1>
                </div>
                <div class="row mtop-bottom-10-px">
                    <div style="display: block;" class="center">
                        <div class="form-group">
                            <input type="email" th:field="*{email}" class="form-control" aria-label="The user name to log
                        in." placeholder="Email Address" />
                            <label class="floating-label text-secondary" for="email">Email</label>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{userName}" class="form-control" aria-label="The user name to log in."
                                placeholder="User Name"
                                title="User Names must be 8 characters or longer, start with an alphanumeric character, and contain only numbers, letters and underscores."
                                th:pattern="${T(edu.utdallas.cs6303.finalproject.model.database.User).USER_NAME_REGEX_TIGHT_HTML_PATTERN}" />
                            <label class=" floating-label text-secondary" for="userName">User Name</label>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{firstName}" class="form-control" aria-label="The user's first Name."
                                placeholder="First Name" />
                            <label class=" floating-label text-secondary" for="firstName">First Name</label>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{lastName}" class="form-control" aria-label="The user's last Name."
                                placeholder="Last Name" />
                            <label class=" floating-label text-secondary" for="lastName">Last Name</label>
                        </div>
                        <div class="form-group">
                            <input type="password" th:field="*{password}" class="form-control" aria-label="The user password."
                                placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&*\)\(+=._-]).{8,}" />
                            <label class="floating-label text-secondary" for="password">Password</label>
                            <i id="passwordEye" style="position: absolute; right: 12px; top: 30%; z-index: 1; display: none;"
                                class="fa fa-eye"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" th:field="*{confirmationPassword}" class="form-control"
                                aria-label="The user password Confirmation." placeholder="Confirm Password" required />
                            <label class="floating-label text-secondary" for="confirmationPassword">Confirm Password</label>
                        </div>
                        <input type="submit" value="Create" class="btn btn-info" th:formaction="@{/login/createUser}" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col center">
                        <button type="button" class="btn google-button" onclick="GoogleOAuth()">
                            <em class="fab fa-google"></em> Sign in with Google
                        </button>
                    </div>
                    <div class="col">
                        <button id="github-button" class="btn btn-block btn-social btn-github btn-outline-dark"
                            onclick="GithubOAuth()">
                            <em class="fab fa-github"></em> Sign in with Github
                        </button>
                        <script>
                            function GoogleOAuth() {
                                window.location.href = "/oauth2/authorization/google";
                            }
                            function GithubOAuth() {
                                window.location.href = "/oauth2/authorization/github";
                            }
                        </script>
                    </div>
                </div>
            </section>
        </form>
        <script>
            $(function () {
                function getText() {
                    let text = "The password should: <ul class=\"no-style\" >" +
                        validateRegex(/(?=.*[a-z])/, "contain a lowercase letter.") +
                        validateRegex(/(?=.*[A-Z])/, "contain an uppercase letter.") +
                        validateRegex(/(?=.*\d)/, "contain a number.") +
                        validateRegex(/(?=.*[!@#\$%\^&*\)\(+=._-])/, "contain a special character.") +
                        validateRegex(/.{8,}/, "be 8 or more characters long.") +
                        "</ul>";
                    return text;
                }

                function validateRegex(regex, message) {
                    let classStr = "";
                    if (regex.exec($('input[name="password"]').val())) {
                        classStr = "fas fa-check";
                    } else {
                        classStr = "fas fa-ban";
                    }
                    return `<li><em class=\"${classStr}\"></em> ${message}</li>`
                }

                $('input[name="password"]').on("focus input", function () {
                    $('input[name="confirmationPassword"]').attr("pattern", "^" + $(this).val() + "$");
                    $('div.popover-body').html(getText());
                    if ($(this).val().length == 0) {
                        $("#passwordEye").hide();
                    } else {
                        $("#passwordEye").show();
                    }
                }).popover({
                    content: getText, html: true, trigger: "focus click"
                }).blur(function () {
                    $(this).popover('hide');
                });
                $('input[name="email"]').popover({ content: "Email in use", trigger: 'manual' })
                    .on('blur', function (event) {
                        let thisInput = $(this)
                        let email = thisInput.val();
                        let url = "/login/checkEmail"
                        let token = $("meta[name='_csrf']").attr("content");
                        let header = $("meta[name='_csrf_header']").attr("content");
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                email: email
                            },
                            xhrFields: {
                                withCredentials: true
                            },
                            headers: {
                                [header]: token
                            },
                            success: function (data) {
                                if (!data) {
                                    thisInput.get(0).setCustomValidity('Email in use');
                                    thisInput.popover('show');
                                } else {
                                    thisInput.get(0).setCustomValidity('');
                                }
                            },
                            error: function (e) {
                                if (!data) {
                                    thisInput.get(0).setCustomValidity('Email in use');
                                    thisInput.popover('show');
                                }
                            }
                        });
                    }).on('focus', function () {
                        $(this).popover('hide');
                    });

                $('input[name="password"]').on('invalid', function (event) {
                    event.target.setCustomValidity('The Password must contain 1 uppercase character, 1 lowercase character, 1 number, and one special character and must be at least 8 characters long.');
                });
                $('input[name="confirmationPassword"]').on('invalid', function (event) {
                    event.target.setCustomValidity('The Passwords do not match');
                });
                $('input[name="userName"]').popover({ content: "User Name in use", trigger: 'manual' })
                    .on('blur', function (event) {
                        let thisInput = $(this)
                        let userName = thisInput.val();
                        let url = "/login/checkUserName"
                        let token = $("meta[name='_csrf']").attr("content");
                        let header = $("meta[name='_csrf_header']").attr("content");
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                userName: userName
                            },
                            xhrFields: {
                                withCredentials: true
                            },
                            headers: {
                                [header]: token
                            },
                            success: function (data) {
                                if (!data) {
                                    thisInput.get(0).setCustomValidity('User Name in use');
                                    thisInput.popover('show');
                                } else {
                                    thisInput.get(0).setCustomValidity('');
                                }
                            },
                            error: function (e) {
                                if (!data) {
                                    thisInput.get(0).setCustomValidity('User Name in use');
                                    thisInput.popover('show');
                                }
                            }
                        });
                    }).on('focus', function () {
                        $(this).popover('hide');
                    });
                $('#passwordEye').on('click', function (event) {
                    if ($(this).hasClass("fa-eye-slash")) {
                        $(this).siblings('input[type="text"]').attr("type", "password");
                    } else {
                        $(this).siblings('input[type="password"]').attr("type", "text");
                    }
                    $(this).toggleClass("fa-eye fa-eye-slash");
                })
            });

        </script>
    </div>
</body>

</html>