<!DOCTYPE HTML>
<html lang="en_us" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main}"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Forgot Password</title>
    <style>
        body {
            background-image: url("/Files/login_background.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div layout:fragment="content" class="container-fluid" style="height: 90vh; position: relative;">
        <form th:action="@{/login/forgotPassword}" th:object="${forgotPasswordForm}" method="post" class="center">
            <div th:replace="~{fragments/errorInForm.html :: errorInForm}"></div>
            <section class="centered-text single-form rounded" style="background-color: white;">
                <div class="row">
                    <h1 class="center"> Forgot Password </h1>
                </div>
                <br />
                <div class="row ">
                    <div style="display: block;" class="center">
                    <div class="form-group">
                        <input type="text" th:field="*{emailAddress}" class="form-control"
                            aria-label="The Email Address Associated with the Account." placeholder="Email" />
                        <label class="floating-label text-secondary" for="emailAddress">Email</label>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{userName}" class="form-control"
                            aria-label="The user name Associated with the account." placeholder="User Name" />
                        <label class="floating-label text-secondary" for="userName">User Name</label>
                    </div>
                    <input type="submit" value="Reset Password" class="btn btn-warning" />
                    </div>
                </div>
            </section>
        </form>
    </div>
</body>

</html>